<!DOCTYPE html>
<html ng-app="drt">

<head lang="en">
    <meta charset="utf-8">
    <meta name="description" content="Software Engineer in Test home assignment">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task.md</title>

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/app.css"/>

</head>

<body>

<div class="gameContainer" ng-controller="MainCtrl">
    <h1>Find <span>duplicates</span></h1>

    <div class="details">
        <p>To win you have to get rid of duplicate numbers.</p>

        <p>One mistake and you lose.</p>
    </div>

    <div class="controllBar">
        <button class="btn noSelect" ng-click="startGame()" ng-disabled="!areNumbersDisabled">Start Game</button>
    </div>

    <div class="numbersContainer" ng-cloak>
        <div class="gameResultOverlay" ng-show="showEndgameMessage"></div>
        <span class="gameResultText"
              ng-show="showEndgameMessage"
              ng-class="{gameResultTextVictory: playerWon}">{{playerWon ? 'Victory' : 'Game Over'}}</span>
        <ul class="randomNumbers noSelect" ng-class="{randomNumbersDim: showEndgameMessage}">
            <li class="noSelect" ng-repeat="num in randomNumbers track by $index"
                ng-click="numberClick($index, num)"
                ng-class="isTouch() ? 'touch' : 'no-touch'"><span>{{num}}</span>
            </li>
        </ul>
    </div>
</div>

<script src="components/angularjs/angular.js"></script>
<script src="js/utils.js"></script>
<script src="js/config.js"></script>
<script src="js/app.js"></script>
</body>

</html>
